label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:15px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#alert-container { width: 350px; margin: 20px 0; }
div#alert-container table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#alert-container table td, div#alert-container table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.ui-button-icon-only.demo-splitbutton-select {
    width: 1em;
}

.ui-widget-overlay {
    opacity: .5;
}